
<h2>My Pokemon Team</h2>
<button onclick="randomize()">Random Team</button>

<%= text_field_tag(:search) %>
<button onclick="get_pokemon(document.getElementById('search').value)">Add</button>



<button onclick="analyze()">Analyze</button>

<div class="team_container">
  <div class="pokemon_gif" id="pokemon_1_gif">
  </div>
  <div class="pokemon_stats" id="pokemon_1_stats">
  </div>
  <div class="pokemon_type_factors" id="pokemon_1_type_factors">
  </div>
  
  <div class="pokemon_gif" id="pokemon_2_gif">
  </div>
  <div class="pokemon_stats" id="pokemon_2_stats">
  </div>
  <div class="pokemon_type_factors" id="pokemon_2_type_factors">
  </div>

  <div class="pokemon_gif" id="pokemon_3_gif">
  </div>
  <div class="pokemon_stats" id="pokemon_3_stats">
  </div>
  <div class="pokemon_type_factors" id="pokemon_3_type_factors">
  </div>

  <div class="pokemon_gif" id="pokemon_4_gif">
  </div>
  <div class="pokemon_stats" id="pokemon_4_stats">
  </div>
  <div class="pokemon_type_factors" id="pokemon_4_type_factors">
  </div>

  <div class="pokemon_gif" id="pokemon_5_gif">
  </div>
  <div class="pokemon_stats" id="pokemon_5_stats">
  </div>
  <div class="pokemon_type_factors" id="pokemon_5_type_factors">
  </div>

  <div class="pokemon_gif" id="pokemon_6_gif">
  </div>
  <div class="pokemon_stats" id="pokemon_6_stats">
  </div>
  <div class="pokemon_type_factors" id="pokemon_6_type_factors">
  </div>
  
</div>

<div class="stats_chart">
<canvas id="stats_chart" width="1000" height="1000"></canvas>
</div>

<div class="type_chart_container">
<canvas id="type_chart" width="1000" height="1000"></canvas>
</div>



