
<h2 class="title">PokeAnalyzer</h2>
<div class="buttons">
  <div class="random_team">
    <button onclick="randomize()">Generate Random Team</button>
  </div>
  <div class="add_pokemon">
    <%= text_field_tag(:search) %>
    <br>
    <button onclick="get_pokemon(document.getElementById('search').value)" class="add_button">Add Pokemon</button>
  </div>
</div>
<div class="analyze_button_container">
    <button onclick="analyze()" class="analyze_button">Analyze</button>
</div>


<div class="team_container">
  <div class="pokemon_gif" id="pokemon_1_gif">
  </div>
  <div class="pokemon_stats" id="pokemon_1_stats">
  </div>
  <div class="pokemon_times_4" id="pokemon_1_times_4">
  </div>
  <div class="pokemon_times_2" id="pokemon_1_times_2">
  </div>
  <div class="pokemon_times_1" id="pokemon_1_times_1">
  </div>
  <div class="pokemon_times_half" id="pokemon_1_times_half">
  </div>
  <div class="pokemon_times_quarter" id="pokemon_1_times_quarter">
  </div>
  
  <div class="pokemon_gif" id="pokemon_2_gif">
  </div>
  <div class="pokemon_stats" id="pokemon_2_stats">
  </div>
  <div class="pokemon_times_4" id="pokemon_2_times_4">
  </div>
  <div class="pokemon_times_2" id="pokemon_2_times_2">
  </div>
  <div class="pokemon_times_1" id="pokemon_2_times_1">
  </div>
  <div class="pokemon_times_half" id="pokemon_2_times_half">
  </div>
  <div class="pokemon_times_quarter" id="pokemon_2_times_quarter">
  </div>

  <div class="pokemon_gif" id="pokemon_3_gif">
  </div>
  <div class="pokemon_stats" id="pokemon_3_stats">
  </div>
  <div class="pokemon_times_4" id="pokemon_3_times_4">
  </div>
  
  <div class="pokemon_times_2" id="pokemon_3_times_2">
  </div>
  <div class="pokemon_times_1" id="pokemon_3_times_1">
  </div>
  <div class="pokemon_times_half" id="pokemon_3_times_half">
  </div>
  <div class="pokemon_times_quarter" id="pokemon_3_times_quarter">
  </div> 

  <div class="pokemon_gif" id="pokemon_4_gif">
  </div>
  <div class="pokemon_stats" id="pokemon_4_stats">
  </div>
  <div class="pokemon_times_4" id="pokemon_4_times_4">
  </div>
  <div class="pokemon_times_2" id="pokemon_4_times_2">
  </div>
  <div class="pokemon_times_1" id="pokemon_4_times_1">
  </div>
  <div class="pokemon_times_half" id="pokemon_4_times_half">
  </div>
  <div class="pokemon_times_quarter" id="pokemon_4_times_quarter">
  </div> 

  <div class="pokemon_gif" id="pokemon_5_gif">
  </div>
  <div class="pokemon_stats" id="pokemon_5_stats">
  </div>
  <div class="pokemon_times_4" id="pokemon_5_times_4">
  </div>
  <div class="pokemon_times_2" id="pokemon_5_times_2">
  </div>
  <div class="pokemon_times_1" id="pokemon_5_times_1">
  </div>
  <div class="pokemon_times_half" id="pokemon_5_times_half">
  </div>
  <div class="pokemon_times_quarter" id="pokemon_5_times_quarter">
  </div> 

  <div class="pokemon_gif" id="pokemon_6_gif">
  </div>
  <div class="pokemon_stats" id="pokemon_6_stats">
  </div>
  <div class="pokemon_times_4" id="pokemon_6_times_4">
  </div>
  <div class="pokemon_times_2" id="pokemon_6_times_2">
  </div>
  <div class="pokemon_times_1" id="pokemon_6_times_1">
  </div>
  <div class="pokemon_times_half" id="pokemon_6_times_half">
  </div>
  <div class="pokemon_times_quarter" id="pokemon_6_times_quarter">
  </div>
  
</div>

<div class="stats_chart">
<canvas id="stats_chart" width="1000" height="1000"></canvas>
</div>

<div class="type_chart_container">
<canvas id="type_chart" width="1000" height="1000"></canvas>
</div>



