/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
     background-color: #CFCFCF;
 }
 .title{
     text-align: center;
 }

 /* .nav_image{
    width: 100%;
    height: 570px;
    position: absolute;
    z-index: -1;
    bottom: 233px;
 } */

 .header{
     text-align: center;
 }

 /*.buttons{
     display: flex;
     justify-content: space-evenly;

 } */

.header h3{
     margin: 0px;
 }
 /* .random_team{
     text-align: center;

 }

 .add_pokemon{
    display: flex;
    flex-direction: column;
 } */

 .add_button{
    border-radius: 10px;
    border: 1px solid black;
    font-size:15px;
 }

 .analyze_button{
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 10px;
 }

 .generate_button{
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid black;
 }

 .analyze_button_container{
     margin-top:15px
 } 

 .team_container{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-template-rows: repeat(10,auto);
    /* grid-template-rows: auto auto; */
    align-items: end;
    padding-left:10px;
    margin-top: 15px;
 }

 .pokemon{
     grid-row-start:1;
 }

 .pokemon_stats{
     grid-row-start:3;
 }

 .pokemon_times_4{
     grid-row-start:4;
     align-self: start;
 }

 .pokemon_times_2{
    grid-row-start:5;
    align-self: start;
}

.pokemon_times_1{
    grid-row-start:6;
    align-self: start;
    display:none;
    
}

.pokemon_times_half{
    grid-row-start:7;
    align-self: start;
}

.pokemon_times_quarter{
    grid-row-start:8;
    align-self:start;
}

.type_image{
    height: 20px;
}


 .pokemon_gif{
     margin-bottom: 10px; 
 }

 #stats_chart{
   display:none;
   border-top: 2px solid black;
 }

 #type_chart{
     display:none;
 }